!!!
%html{ class: controller_classes, style: 'background-color: black' }
  %head
    :css
      html, body {
        background: black;
      }

    -# Sets viewport to always be equal to device width. Removed options for pinch and zoom
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"}/
    -# Character encoding for Unicode
    %meta{:charset => "utf-8"}
    -# Tells IE to run the latest version of its browser, not a legacy mode. Also run Chrome Frame if installed
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title WhereCanIPark.in | WCIP.in

    = stylesheet_link_tag    "application", media: "all"
    = yield :stylesheets

    = csrf_meta_tags

  %body.screened{ontouchstart: ''}
    = render partial: 'shared/skip_links'
    = render partial: 'shared/error_message_modal'
    .screen.background
      %noscript You must enable Javascript to use this site.

      .canvas-wrapper.mobile-slide-nav
        .content-container
          = render partial: 'shared/header'

          .flash-message-alert{ 'aria-live' => "assertive", 'role' => 'alert', 'data-initial-message' => flash[:notice] }

          - if single_page_app?
            .loader-container
          %main.main-container#main-content{'tabIndex'=>'-1'}
            .scroller
              = yield

          = render partial: 'shared/footer'

    = yield :javascript

    -unless single_page_app?
      :javascript
        App.LayoutBootstrap.run();
